.idea/
.vscode/
__pycache__/
proc/
logs/
weight/
dummy/
inference/
result/
RF_result/
debug.log
paper/
predict/
dummy.py
train/*
valid/*
test/*
predict/*
device.txt
_taskManager/latest.json
_taskManager/latest_resume.json
_taskManager/latest_gradView.json
_taskManager/latest_pred.json
.DS_Store
.DS_Store?
._*
docs/_build/
docs/.vscode/